{% extends 'base.html.twig' %}

{% block title %}Hello CabinetController!{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}
    <h1 style="text-align: center; color: #666666; margin-top: 15%; font-size: 30px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">

    </h1>
{% endblock %}
